requests
logger
pymongo==3.13.0
ConfigParser
pyjwt
flask
sqlmap
celery
reportlab
APScheduler
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
